# Telegram bot токен @BotFather
TELEGRAM_BOT_TOKEN=token

#Id каналов или чатов где бот админ что бы слал алерты
ALERT_CHAT_IDS=-1006666
#Id каналов или чатов где бот админ что бы слал состояние по биржам
STATE_CHAT_IDS=-1006666

# Интервалы
# Через сколько секунд обновлять фандинг по открытым позициям
FUNDING_UPDATE_INTERVAL=3
# Через сколько секунд присылать\обновлять инфу в сообщении о состоянии бирж в телеграм боте
STATE_UPDATE_INTERVAL=3
# Через сколько секунд обновлять информацию о открытых позициях
POSITION_UPDATE_INTERVAL=3
# Через сколько секунд обновлять информацию о балансе маржи
MARGIN_UPDATE_INTERVAL=3

#Ключи (можно read-only)
BYBIT_API_KEY=xxx
BYBIT_API_SECRET=xxx